<!DOCTYPE html>
{% load static%}
<html>
<head>
<title>PortFolio</title>
 <link rel="stylesheet" href="{%static 'port.css'%}">
<style>
  h1 {color:black;}
  h2{color:blue;}

</style>
</head>
<body>
<ul>
<a href><li><b>Home</b></li></a>
<a href><li><b>About</b></li></a>
<a href><li><b>Skills</b></li></a>
<a href><li><b>Education</b></li></a>
<a href><li><b>Contact</b></li></a>
</ul>
<h1>HI</h1>
<h2 >I'm YOKEYNTRRA S</h2>
<h2>I am AI&DS Student.</h2>
<img align="right" src="{% static 'empo.jpg'%}" width="300" height="300" alt="Sorry" float:right; class="cen">
<h2 style=color:black;><b>QUALIFICATION:</b></h2>
<ol>
<li><h3>I Finished my Schooling in SSVMHS School</h3></l1>
  <ol>
  <li><b>Completed in 2021</b></li>
  </ol>
<li><h3>Currently I'm Pursuing B.TECH Artificial Intelligence And Data Science in KCE.</h3></li>
</ol>
<h2 style=color:black;><b>LANGUAGES KNOWN:</b></h2>
<ol>
	<ol>
		<li><b>SCRIPTING LANGUAGE:</b></li>
		<ol>
			<li>HTML</li>
			<li>CSS</li>
		</ol>
	</ol>
	<ol>
		<li><b>PROGRAMMING LANGUAGE:</b></li>
		<ol>
			<li>PYTHON</li>
			<li>JAVA</li>
		</ol>
	</ol>
</ol>
<li><h3></h3></l1>
<button style="background-color:red;"><b>About me?</b></button>
<h1></h1>
<a href="https://www.linkedin.com/in/yokeyntrra-s-1b4327268"><img src="{% static 'link.png'%}" width="30" height="30"></a>
<a href="{% static 'twit.png'%}"><img src="{% static 'twit.png'%}" width="30" height="30"></a>
<a href="{% static 'tele.jpg'%}"><img src="{% static 'tele.jpg'%}" width="30" height="30"></a>
<a href="{% static 'download.jpg'%}"><img src="{% static 'download.jpg'%}" width="30" height="30"></a>
</body>
</html>